.guide {
	background: color($colors, secondary, base);
	color: color($colors, fontColor, base);
	p {
		color: color($colors, fontColor, base);
		border-bottom: 1px solid white;
		padding-bottom: 2em;
	}
}