.recipe-header {
	ion-toolbar {
		div.toolbar-background {
			background: color($colors, secondary, base);
		}
		div.toolbar-content {
			ion-title {
				div.toolbar-title {
					color: color($colors, fontColor, base);
				}
			}
		}
		ion-buttons {
			button {
				color: color($colors, fontColor, base);
			}
		}	
	}
}

.recipe {
	background-image: url('../../asset/bg1.png');
	background-repeat: repeat;
	scroll-content {
		color: color($colors, fontColor, base);
	} 

	.title {
		ion-col {
			h3 {
				color: color($colors, secondary, base);
				margin-top: 1em;
			}
		}
	}

	.content {
		ion-col {
			font-family: Raleway;
			font-size: 1.3em;
			padding: 0;
			padding-left: .4em;
			.recipe-persons {
				zoom: 1.2;
			}
		}
	}

	img.category-icon {
		width: 2em;
		height: 2em;
		display: inline-block;
		height: 100%;
		vertical-align: middle;

	}

	.ingredients-content {
		ion-col {
			ul {
				margin-left: -1.4em;
			}
		}
	}
}