<ion-header class="recipe-header">

	<ion-toolbar>

		<ion-title>
			{{recipe.name}}
		</ion-title>

		<ion-buttons start>
			<button ion-button (click)="dismiss()">
		    	<span color="primary" showWhen="ios">Cancel</span>
		    	<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
		  	</button>
		</ion-buttons>

	</ion-toolbar>

</ion-header>

<ion-content padding class="recipe">
	<ion-grid>

		<ion-row class="section title category-title">
	    	<ion-col width-90>
	    		<h3>Categoria</h3>
	    	</ion-col>
		</ion-row>
		<ion-row class="section content category-content">
	    	<ion-col width-90>
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/glass-4.png" alt="bevande" *ngIf="recipe.type==='Bevande'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/salami.png" alt="antipasti" *ngIf="recipe.type==='Antipasto'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/pasta-1.png" alt="primi" *ngIf="recipe.type==='Primo'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/steak.png" alt="carni" *ngIf="recipe.type==='Carne'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/turkey.png" alt="pollame" *ngIf="recipe.type==='Pollame'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/fish.png" alt="pesce" *ngIf="recipe.type==='Pesce'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/potatoes.png" alt="contorni" *ngIf="recipe.type==='Contorno'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/mustard-2.png" alt="salse" *ngIf="recipe.type==='Salsa'" /> 
	    		<img class="category-icon" src="asset/135541-gastronomy-set/png/cupcake-2.png" alt="dolci" *ngIf="recipe.type==='Dessert'" /> 
	    		{{recipe.type}}
	    	</ion-col>
		</ion-row>

		<ion-row class="section title mainIngredient-title">
	    	<ion-col width-90>
	    		<h3>Ingrediente principale</h3>
	    	</ion-col>
		</ion-row>
		<ion-row class="section content mainIngredient-content">
	    	<ion-col width-90>
	    		{{recipe.mainIngredient}}
	    	</ion-col>
		</ion-row>

		<ion-row class="section title persons-title">
	    	<ion-col width-90>
	    		<h3>Persone</h3>
	    	</ion-col>
		</ion-row>
		<ion-row class="section content persons-content">
	    	<ion-col width-90 *ngIf="recipe.type !== 'Bevande'">
	    		<img class="recipe-persons" src="asset/google-material-icons/ic_person_black_24dp/android/drawable-mdpi/ic_person_black_24dp.png" *ngFor="let person of persons; let index = index " (click)="removePeople(index,recipe)"/>
	    		<img class="recipe-persons" src="asset/google-material-icons/ic_person_outline_black_24dp/android/drawable-mdpi/ic_person_outline_black_24dp.png" *ngFor="let left of peopleLeft; let index = index " (click)="addPeople(index,recipe)" />
	    	</ion-col>
	    	<ion-col width-90 *ngIf="recipe.type === 'Bevande'">
	    		<img class="recipe-persons" src="asset/google-material-icons/ic_person_black_24dp/android/drawable-mdpi/ic_person_black_24dp.png" *ngFor="let person of persons;"/>
	    	</ion-col>
		</ion-row>

		<ion-row class="section title ingredients-title">
	    	<ion-col width-90>
	    		<h3>ingredienti</h3>
	    	</ion-col>
		</ion-row>
		<ion-row class="section content ingredients-content">
	    	<ion-col width-90>
	    		<ul>
				    <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
				</ul>
	    	</ion-col>
		</ion-row>

		<ion-row class="section title preparation-title">
	    	<ion-col width-90>
	    		<h3>Preparazione</h3>
	    	</ion-col>
		</ion-row>
		<ion-row class="section content preparation-content">
	    	<ion-col width-90>
	    		{{recipe.preparation}}
	    	</ion-col>
		</ion-row>

		<ion-row class="section title notes-title" *ngIf="recipe.notes">
	    	<ion-col width-90>
	    		<h3>Note</h3>
	    	</ion-col>
		</ion-row>
		<ion-row class="section content notes-content" *ngIf="recipe.notes">
	    	<ion-col width-90>
	    		{{recipe.notes}}
	    	</ion-col>
		</ion-row>

	</ion-grid>
</ion-content>