# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
!platforms/ios/coOk/Images.xcassets
!platforms/android/coOk/Images.xcassets
plugins/
*.swp
.DS_Store
Thumbs.db
.gradle
.tmp
app/**/*.js
