.favorites-header {
	.image {
		float:left;
		.header-logo {
			width: 50px;
			height: 50px;
		}
	}
	.title {
		float:left;
		margin-top: 1em;
	}
}

.favorites {
	background-image: url('../../asset/bg1.png');
	background-repeat: repeat;
	color: color($colors, fontColor, base);

	ion-searchbar {
		padding: 0 0 8px 0;
	}

	.update-favorites {
		zoom: .7;
	}

	div.item {
		margin-bottom: .5em;
		background : color($colors, secondary, base);
		color: color($colors, fontColor, base);
		border-top: none !important;
		div.container {
			width: 100%;
			padding-right: 0;
			border-bottom: none !important;
			div.name {
				float:left;
				width: 76%;
			}
			div.icon {
				float:left;
				width: 12%; 
				ion-label {
					font-size: .7em;
				}
				ion-icon {
					display: inline-block;
					float: right;
					font-size: 1.5em;
					margin-right: .8em;
				}
			}
		}
	}
}
