.calendar {

	background : color($colors, primary, base);
	color: color($colors, fontColor, base);
	
	/**
	 * calendar table
	 */

	div.container {
		width: 100;
		margin: 0 .4em;
		div.day {
			float: left;
			width: 33%;
			border: 1px solid white;
			padding: 0;
			div.title {
				background : color($colors, secondary, base);
				text-align: center;
				padding: .3em 0;
			}
			div.meal {
				background : color($colors, lightGrey, base);
				color: color($colors, primary, base);
				min-height: 5.7em;
				max-height: 5.7em;
				padding-left: .2em;
				font-size: .9em;
				overflow: scroll;
				div.recipe {
					background : color($colors, lightGrey, base);
					color: color($colors, inverseFontColor, base);
					font-size: .7em;
				}
			} 
			div.meal:last-child {
				border-top: 1px solid white;
			}
		}
	}

	/**
	 * day card
	 */

	.back {
		padding-left: .5em;
	}

	div.container {
		width:100%;
		div.arrow {
			float:left;
			width:100%;
		}
		div.day-title {
			clear:both;
			text-align: center;
		}
	}
	
	div.item {
		margin-bottom: .5em;
		background : color($colors, secondary, base);
		color: color($colors, fontColor, base);
		border-top: none !important;
		div.container {
			width: 100%;
			padding-right: 0;
			border-bottom: none !important;
			div.name {
				float:left;
				width: 80%;
			}
			div.icon {
				float:left;
				width: 20%; 
				ion-label {
					font-size: .7em;
				}
				ion-icon {
					display: inline-block;
					float: right;
					font-size: 1.5em;
					margin-right: .8em;
				}
			}
		}
	}
}

/*
 *  Flip animation by David Walsh: https://davidwalsh.name/css-flip
 */

/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container.flipped .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
