<ion-header>
    <ion-navbar secondary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Calendario</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="calendar flip-container" [class.flipped]="flipped">
    <div class="flipper">

	    <div class="front">
	    	<div class="container">
				<div class="day" *ngFor="let day of calendar" (click)="flip(day)">
					<div class="title">
							{{day.day}}
					</div>
					<div class="meal" *ngFor="let meal of day.meals">
						{{meal.name}}
						<div class="recipe" *ngFor="let recipe of meal.recipes">{{recipe.name || ''}}</div>
					</div>
				</div>
	    	</div>
		</div> <!-- front -->

		<div class="back">

			<div class="container">
					
				<div class="arrow">
					<ion-icon name="arrow-round-back" (click)="flip()"></ion-icon>
				</div>

				<div class="day-title">
					<h4>{{day.day}}</h4>
				</div>

				<div class="card" *ngFor="let card of day.meals">
					<ion-card>
					    <ion-card-header>
					    	{{card.name}}
					    </ion-card-header>
					    <ion-card-content>
					    	<div class="item" *ngFor="let recipe of card.recipes;let index=index ">
								<div class="container">
									<div class="name" (click)="presentModalRecipe()">
										{{recipe.name}}
									</div>
									<div class="icon">
										<ion-icon name="trash" (click)="showDeleteConfirm(index,recipe.name)"></ion-icon>
									</div>
								</div>
							</div>

							<button ion-button small (click)="presentModalAddRecipe()">
								<ion-icon name="add"></ion-icon>
								Aggiungi
							</button>
					    </ion-card-content>
					</ion-card>
				</div>

			</div>

	    </div> <!-- back -->

	</div> <!-- flipper -->

</ion-content>
