.add-recipe-header {
	ion-toolbar {
		div.toolbar-background {
			background: color($colors, secondary, base);
		}
		div.toolbar-content {
			ion-title {
				div.toolbar-title {
					color: color($colors, inverseFontColor, base);
				}
			}
		}
		ion-buttons {
			button {
				color: color($colors, inverseFontColor, base);
			}
		}	
	}
}

.add-recipe {
	background-image: url('../../asset/bg1.png');
	background-repeat: repeat;
	scroll-content {
		color: color($colors, inverseFontColor, base);
	} 

	div.item {
		margin-bottom: .5em;
		background : color($colors, secondary, base);
		color: color($colors, inverseFontColor, base);
		border-top: none !important;
		div.container {
			width: 100%;
			padding-right: 0;
			border-bottom: none !important;
			div.name {
				float:left;
				width: 70%;
			}
			div.icon {
				float:left;
				width: 30%; 
				ion-label {
					font-size: .7em;
				}
				ion-icon {
					display: inline-block;
					float: right;
					font-size: 1.5em;
					margin-right: .8em;
				}
			}
		}
	}
}