<style type="text/css">
  @import url('https://fonts.googleapis.com/css?family=Montserrat');

  html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #b6b6b6;
    color: #2a4242;
  }

  h1,h2,h3,h4,h5,h6 {
    color: #003333;
  }

  h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
  }

  section#description {
    float:left;
    width: 66%;
    padding-left: 10px;
  }

  section#forms {
    float:left;
    width: 32%;
  }

  label {
    display: inline-block;
    margin-top: 7px;
  }

  footer {
    clear: both;
    font-size: 15px;
    text-align: center;
  }
</style>

<h1>DATABASE RICETTE</h1>

<div id="container">
	
	<section id="description">
		<h1><%= title %></h1>
		<% if (typeof content !== 'undefined') { %>
		  <p><%= content %></p>
		<% } %>
		<a href="<%= redirectTo %>"><%= redirectToLinkText %></a>
	</section>

</div>

<footer>
  <p>
    Versione software: 0.3.5.
    Sviluppo database: Giorgio Musilli. Sviluppo software: Christian Palazzo.
    Quest'opera è distribuita con Licenza <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribuzione 4.0 Internazionale</a>.
  </p>
  <p>
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a>
  </p>
</footer>
