ion-tabbar {
	background: color($colors, secondary, base);
	.tab-button {
		color: color($colors, inverseFontColor, base);
	}

	/*.tab-button[aria-selected=true] {
		color: color($colors, inverseFontColor, base);
	}*/
}