.search {

	/**
	 * Ingredients input
	 */
	background : color($colors, primary, base);
	color: color($colors, fontColor, base);

	.cf:before, .cf:after{
	  content:"";
	  display:table;
	}

	.cf:after{
	  clear:both;
	}

	.cf{
	  zoom:1.05;
	}

	.form-wrapper {
	    width: 21.8em;
	    padding: 12px;
	    margin: 1em auto;
	    background: rgba(68,68,68,1);
	    background: rgba(0,0,0,.2);
	    -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	    border-radius: 10px;
	    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
	}

	.form-wrapper input {
	    width: 15.8em;
	    height: 1.89em;
	    padding: .5em;
	    float: left;    
	    color: color($colors, inverseFontColor, base);
	    border: none;
	    background: rgba(238,238,238,1);
	    -moz-border-radius: 3px 0 0 3px;
	    -webkit-border-radius: 3px 0 0 3px;
	    border-radius: 3px 0 0 3px;      
	}

	.form-wrapper input:focus {
	    outline: 0;
	    background: color($colors, fontColor, base);
	    -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
	}

	.form-wrapper input::-webkit-input-placeholder {
	   color: rgba(153, 153 ,153, 1);
	   font-weight: normal;
	   font-style: italic;
	}

	.form-wrapper input:-moz-placeholder {
	    color: rgba(153, 153 ,153, 1);
	    font-weight: normal;
	    font-style: italic;
	}

	.form-wrapper input:-ms-input-placeholder {
	    color: rgba(153, 153 ,153, 1);
	    font-weight: normal;
	    font-style: italic;
	}    

	.form-wrapper button {
		overflow: visible;
	    position: relative;
	    float: right;
	    border: 0;
	    padding: 0;
	    margin: 0;
	    margin-top: -.05em;
	    cursor: pointer;
	    height: 3.2em;
	    width: 7.1em;
	    font: bold .6em Raleway-Regular;
	    color: color($colors, fontColor, base);
	    text-transform: uppercase;
	    background: color($colors, secondary, base);
	    -moz-border-radius: 0 3px 3px 0;
	    -webkit-border-radius: 0 3px 3px 0;
	    border-radius: 0 3px 3px 0;      
	    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
	}   
	  
	.form-wrapper button:hover{		
	    background: rgba(229,64,64,1);
	}	
	  
	.form-wrapper button:active,
	.form-wrapper button:focus{   
	    background:rgba(196,47,47,1);    
	}

	.form-wrapper button:before {
	    content: '';
	    position: absolute;
	    border-width: 9px 9px 9px 0;
	    border-style: solid solid solid;
	    border-color: transparent rgba(248,44,44,1) transparent;
	    top: 4px;
	    left: -7px;
	}

	.form-wrapper button:hover:before{
	    border-right-color: rgba(229,64,64,1);
	}

	.form-wrapper button:focus:before{
	    border-right-color: rgba(196,47,47,1);
	}    

	.form-wrapper button::-moz-focus-inner {
	    border: 0;
	    padding: 0;
	}

	/**
	 * Ingredients boxes
	 */
	ion-grid.ingredients {
		padding: 0;
		ion-row {
			margin-top: -.5em;
			margin-bottom: -.5em;
			ion-col {
				padding: .3em;
				p {
					font-family: Architects_Daughter !important;
					font-size: .9em;
					padding: .5em;
					font-weight: bold;
					text-align: center;
					color: color($colors, fontColor, base);
					background-color: color($colors, secondary, base);
					border-radius: 10px;
				}  
			}
		}
	}

	/**
	 * FILTERS
	 */
	.filters {
		margin: .2em;
		width: 98%;

		ion-list {
			button.item {
				ion-icon {
					font-size: 1em;
					margin-top: 1em;
				}
				div.item-inner {
					margin-left: .5em;
					div.input-wrapper {
						ion-label {
							font-size: .8em;
						}
					}
				}
			}
		}
	}

	/** 
	 * FILTERS ACCORDION
	 */
	/*
	div#accordion > h3 {
		font-weight: bold;
	}

	span.ui-accordion-header-icon {
		zoom: 2;
	}

	.ui-icon {
		margin-top: .01em;
	}

	input.main-ingredient, input.recipe-name  { 
		width: 5em; 
		border-radius: 5px; 
		padding: 10px; 
		font: 1em Raleway-Regular;
		font-style: italic; 
		font-weight: bold;
		color: rgba(0,0,0,1); 
		background: rgba(220,220,220,1); 
		border: none; margin-right: 20px; 
		-webkit-transition: all .3s; 
	}
	 
	input.main-ingredient:focus, input.recipe-name:focus  { 
		outline: none; width: 13em; 
		background: rgba(195,195,195,1); 
	}

	.ui-state-active, .ui-widget-content .ui-state-active, 
	.ui-widget-header .ui-state-active, a.ui-button:active, 
	.ui-button:active, .ui-button.ui-state-active:hover {
	    border: 1px solid rgba(248,44,44,1);
	    background-color: rgba(248,44,44,1);
	    font-weight: normal;
	    color: rgba(255,255,255,1);
	}

	.dishes > div {
		font-weight: bold;
	}

	.toggle.btn {
		width: 7em !important;
		height: 3em !important;
	}

	label.btn {
		font-size: 2em;
	}

	#custom-handle {
	    width: 3em;
	    height: 1.6em;
	    top: 50%;
	    margin-top: -.8em;
	    text-align: center;
	    line-height: 1.6em;
	}

	.find-button {
		zoom: 3;
		margin: 1.5em auto;
	}

	.ui-slider-handle {
		font-size: .8em;
	}

	.ui-slider-horizontal {
		height: .7em;
	}*/
}
