.search-header {
	.image {
		float:left;
		.header-logo {
			width: 50px;
			height: 50px;
		}
	}
	.title {
		float:left;
		margin-top: 1em;
	}
}

.search {

	h5 {
		margin-left: .4em;
	}

	background-image: url('../../asset/bg1.png');
	background-repeat: repeat;
	color: color($colors, fontColor, base);

	/**
	 * Ingredients input
	 */

	div.search-ingredients {
		margin-bottom: 4em;
		padding: 1%;
		ion-item {
			float:left;
			width: 78%;
			padding-left: .5em;
			margin-right: 1%;
			min-height: 1em;
			max-height: 2.3em;
			color: color($colors, fontColor, base);
			border-radius: 25px;
			div.item-inner {
				div.input-wrapper {
					ion-label {
						margin: 0;
					}
				}
			}
		}
		button {
			float:left;
			width: 20%;
			font-size: 3em;
			padding: 0;
			margin:0;
			border-radius: 25px;
		}
	}

	/**
	 * Ingredients boxes
	 */
	.filters-title {
		clear:both;
	}

	div.ingredients {
		padding: 0;
		div.container {
			width: 100%;
			margin-top: -.5em;
			margin-bottom: -.5em;
			div.box {
				float:left;
				width: 25%;
				padding: .3em;
				p {
					font-family: Architects_Daughter !important;
					font-size: .9em;
					padding: .5em;
					margin-top: 0;
					font-weight: bold;
					text-align: center;
					color: color($colors, inverseFontColor, base);
					background-color: color($colors, secondary, base);
					border-radius: 10px;
				}  
			}
		}
	}

	/**
	 * FILTERS
	 */
	.filters {
		margin: .2em;
		width: 98%;

		ion-list {
			button.item {
				background-color: color($colors, inverseFontColor, base);
				color: color($colors, primary, base);
				font-size: 1.2em;
				-moz-border-radius: 5px;
	    		-webkit-border-radius: 5px;
	    		border-radius: 5px; 
	    		.show-filter {
	    			color: color($colors, fontColor, base);
	    		}
				ion-icon {
					font-size: 1em;
					margin-top: 1em;
				}
				div.item-inner {
					margin-left: .5em;
					div.input-wrapper {
						ion-label {
							font-size: .8em;
						}
					}
				}
			}
		}
	}

	/**
	 * SEARCH BUTTON
	 */
	.search-button {
		display: block;
		margin: 0 auto;
		-moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px; 
	    zoom: 1.5;
	    margin-top: .5em;
	}
}





/**
* specifically for IOS
**/

.platform-ios {
	

	.search {

		div.search-ingredients {
			button {
				height: 0.9em;
			}

		}
		.search-button {
			height: 10%;
		}

	}
	.search-header {
		.image {
			.header-logo {
				width: 40px;
				height: 40px;
			}
		}
	}
}
